<div class="grid">
    <canvas tabindex="0" #canvas class="canvas" height=500 width=500></canvas>
    <div class="column">
        <div>
            <h1>Orrery</h1>
            <p>Date: {{ epochCurrent }}</p>
            <p class="description">
                An orrery is a tool which can show the positions of planets relative to each
                other on a given date. This digital orrery uses the recorded orbital parameters
                circa December 31st, 2000 and projects those paramters forward and backward
                assuming basic Keplerian motion.
            </p>
        </div>
    </div>
</div>