.top-nav {
	list-style-type: none;
  margin-top: 36px;
  margin-bottom: 32px;
  margin-left: 16px;
	padding-left: 76px;
	height: 64px;
	overflow: hidden;
  background-color: #222222;
  text-align: left;
}

.nav-button {
	float: left;
	display: block;
	color: #008800;
	padding: 0px 16px;
	text-decoration: none;
	font-family:Zenda;
	font-size:2em;
}

.nav-button:hover {
    background-color: #008800;
    color: #222222
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 90px;
    background-color: #008800;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
  float: none;
  color: #222222;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #222222;
  color: #008800;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .nav-button {
  background-color: #008800;
  color: #222222
}

.logo {
  margin-top: -32px;
  margin-left: -16px;
  position: absolute;
  border-style: solid;
  border-color: #222222;
  border-width: 16px;
  border-radius: 50%;
}