<mat-toolbar>
    <button mat-stroked-button [routerLink]="['']"><mat-icon>mood</mat-icon></button>
    <button mat-stroked-button [matMenuTriggerFor]="games">Games</button>
    <mat-menu #games="matMenu">
        <button mat-menu-item routerLink='/asteroids'>Asteroids</button>
        <button mat-menu-item routerLink='/menagerie'>Menagerie</button>
        <button mat-menu-item routerLink='/tetris'>Tetris</button>
    </mat-menu>
    <button mat-stroked-button [matMenuTriggerFor]="tools">Tools</button>
    <mat-menu #tools="matMenu">
        <button mat-menu-item routerLink='/orrery'>Orrery</button>
    </mat-menu>
</mat-toolbar>