<link rel='stylesheet' type='text/css' href='/styles/nav.css'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<nav class="top-nav">
    <div>
        <ul>
            <a class="nav-button" href='/'>Home</a>
			<div class="dropdown">
                <a class="dropdown-button nav-button" href='games.html'>Games&#9662;</a>
                <div class="dropdown-content">
                    <a href="asteroids.ejs">Asteroids</a>
                </div>
            </div>
			<div class="dropdown">
                <a class="dropdown-button nav-button" href='tools.html'>Tools&#9662;</a>
                <div class="dropdown-content">
                    <a href="orrery.ejs">Orrery</a>
                    <a href="character_creator.ejs">Character Creator</a>
                </div>
            </div>
			<a class="nav-button" href='contact.html'>Contact</a>
        </ul>
    </div>
</nav>