$font-stack: 'Press Start 2P', cursive;

h1 {
    font-family: $font-stack
}

* {
    font-family: $font-stack
}

.description {
    font-family: 'Times New Roman', Times, serif;
}

canvas {
    border: solid green 2px;
    background-color: black;
}

.grid {
    display: grid;
    grid-template-columns: 530px 200px;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}