<div class="grid">
    <canvas tabindex="0" #canvas class="game-board"></canvas>
    <div class="column">
        <div>
            <h1>Asteroids</h1>
            <p>Level: {{ stage }}</p>
            <p>Score: {{ score }}</p>
            <p>Lives: {{ lives }}</p>
            <p class="description">
                Asteroids is a classic arcade game wherein a player controls a spaceship on a 
                looping 2D plane hunting down asteroids before they impact the ship and damage
                it. The player my turn, thrust, and fire projectiles while dodging the asteroids
                and occasional alien spaceships which may also threaten them. Points are scored
                for successfully destroying pieces of debris and levels are cleared by
                destroying all targets.
            </p>
        </div>
        <button (click)="play($event)" class="play-button">Play</button>
    </div>
</div>