$font-stack: 'Press Start 2P', cursive;

h1 {
    font-family: $font-stack
}

* {
    font-family: $font-stack
}

canvas {
    border: solid black 2px;
}

.grid {
    display: grid;
    grid-template-columns: 320px 200px;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}